  .carousel-inner > .item > img, .carousel-inner > .item > a > img {
        display: block;
        height: auto;
        min-width: 100%;
        width: 100%;
        max-width: 100%;
        line-height: 1;
    }
	.carousel-caption
	{
		text-align:left;
		bottom: 50px;
	}
	.carousel-caption-header
	{
	    font-family: 'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
		font-weight: 700;
		font-style: normal;
		font-size: 30px;
		color: #434343; 
		text-shadow: none;
		padding-bottom:20px;
	}
	.carousel-caption-text
	{
		 font-family: 'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
		font-weight: 400;
		font-style: normal;
		color: #434343; 
		padding-bottom:20px;
		text-shadow: none;
	}
	.carousel-caption button, button:hover
	{ 
 
	}
@media (max-width: 991px) {
	.carousel-inner > .item > img, .carousel-inner > .item > a > img {
        display: block;
        height: 300px !important;
        min-width: 100%;
        width: 100%;
        max-width: 100%;
        line-height: 1;
    }
	.carousel-caption
	 {
		text-align: center !important;
		top: -2px!important;
		
	 }
	 .carousel-indicators
	 {
		 display:none;
	 }
	 .carousel-caption-header {
		font-family: 'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
		font-weight: 700;
		font-style: normal;
		font-size: 14px!important;
		color: #434343;
		text-shadow: none;
		padding-bottom: 1px!important;
	 }
}