.new-launch-home
	{
		margin: 5px 0px 5px 0px;
		border-top:1px solid #e7e7e7;
		border-bottom:1px solid #e7e7e7;
		padding: 30px 0px 30px 0px;
	}
	.new-launch-home h3
	{
	font-family: 'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    color: #434343;
    text-align: left;
	}
	.new-launch-home p
	{
	font-family: 'Helvetica';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    text-align: left;
    line-height: 24px;
	color: #666666;
	}
@media (max-width: 991px) {
	.new-launch-home
	{
		border:none;
		text-align:center;
		padding:0px;
		margin: 0px 0px 20px 0px;
	}
	.new-launch-home img
	{
		margin: 10px auto;
	}
	.new-launch-home h3,.new-launch-home p,.new-launch-home a
	{
		text-align:center;
	} 
}