    .img-home-list img
	{
		 margin: 0 auto;
	}
	.img-home-list .caption
	{
		text-align:center;
		padding:10px 0px;
		font-size:14px;
		color:#9B9B9B;
	}
	.img-home-list  a
	{
		padding: 10px 5px;
	}
	.img-home-list .caption:hover, .img-home-list  a:hover{
		text-decoration:none;
		color: rgb(3, 130, 186);
	}