.promotions
	{
		background: url(../images/promotion-home-bg.jpg) no-repeat center center fixed; 
		-webkit-background-size: cover;
		  -moz-background-size: cover;
		  -o-background-size: cover;
		  background-size: cover;
	}
	.promotion-content
	{
		padding: 60px;
	}
	.promotion-content .save
	{
	    font-family: 'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
		font-weight: 700;
		font-style: normal;
		font-size: 18px;
		color: #FFFFFF;
		background-color:#B3AFAF;
		border-color:#B3AFAF;
		border-radius: 0px 20px 0px 0px;
	}
	.promotion-content .offers
	{
	    font-weight: 700;
		font-style: normal;
		font-size: 12px;
		color: #FFFFFF;
		background-color:#B3AFAF;
		border-color:#B3AFAF;
		border-radius: 0px 0px 0px 0px;
		margin-top: 10px;
	}
	.offers a
	{
		color: #FFFFFF;
	}
	.promotion-content h4
	{
		font-family: 'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
		font-weight: 700;
		font-style: normal;
		font-size: 18px;
		color: #434343;
		padding-top: 10px;
	}
	.promotions-view-all
	{
		text-align: center;
		background-color: #f6f6f6;
		padding: 20px;
	}
@media (max-width: 991px) {
	.promotion-content,.promotions
	{
		padding: 0px;
	}
	.promotion-content h4 
	{
		font-family: 'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
		font-weight: 700;
		font-style: normal;
		font-size: 13px;
		color: #434343;
		padding-top: 10px;
		text-align: center;
	}
	.promotion-content .offers
	{
		width:100%;
	}
}