body {
    font-family: Arial, Helvetica, Sans-Serif;  
} 
/* nav*/
.region-container
{
	background-color: #c9c9c9;
	font-family: 'Helvetica';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #6C6C6C; 
    line-height: normal;
	padding:10px; 
}
.regionlabel
{
	text-align:right;
}
.regioncontent
{
	text-align:left;
	padding: 5px;
}
#nav-search-iocn
{
	width: 21px; 
	cursor:pointer;
    margin: 10px;
}
.region-container label
{
	font-family: 'HelveticaNeue', 'Helvetica Neue';
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    color: #666666; 
	text-align:right;
	padding:10px;
}
.regionchange
{ 
    left: 0px;
    top: 0px;
    width: 200px;
    height: 28px;
    font-family: Helvetica;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    text-decoration: none;
    color: rgb(102, 102, 102);
}
.region-go
{
	width: 35px;
	padding: 2px;
    height: 27px;
    font-family: Helvetica-Bold, "Helvetica Bold", Helvetica;
    font-weight: 700;
    font-style: normal;
	background-color:#999999;
	color:#fff;
} 
.top-link  li, .top-link a
{
	list-style:none;
	padding: 10px 5px;
	font-family: 'Helvetica';
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    color: #999999;
    line-height: normal;
}
#logo a {
    padding: 0px;
}
#logo a:hover {
    border:none;
}
.logo-img
{
	padding:10px 0px;
	border:none;
}
.navbar-default {
  background-color: #fff;
  border: none;
  border-radius: 0;
  border-left: none;
  border-right: none; }
 
.dropdown-menu>li { display: inline-block; }
.navbar-default .navbar-nav > li > a 
{ 
	padding-bottom: 32px;
}
#main-nav.affix {
  position: fixed;
  top: 0px;
  -webkit-transition: top 1s ease-in;
  transition: top 1s ease-out; }

#main-nav {
  width: 100%;
  background-color: #fff;
  z-index: 999; 
  border-bottom: 1px solid #e7e7e7; 
  margin-bottom: 0px;
  }
 
#main-nav .dropdown-menu {
    border: none;  
    background: inherit inherit inherit inherit inherit inherit inherit inherit inherit;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(228, 228, 228);
    border-radius: 0px;
	box-shadow: none;
	background-color:#F5F5F5;
	} 

.main-nav li a {
 font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#58585B !important;
  text-align:left;
  line-height:normal; 
  padding-right: 10px;
  padding-left: 10px;
  display: inline-block;
  width: 100%;  
  }
  .main-nav li a:hover {
    background-color: transparent;
    color: rgb(3, 130, 186) !important
	}

/*reset */ 
.dropdown-menu-lg{
  width: 400px;
  padding: 20px 0px;
}
.dropdown-menu-lg.first
{
	width: 700px;
}
.dropdown-menu-lg.last
{
	right:0px;
	left: auto;
}
.dropdown-menu-lg > li > ul {
  padding: 0;
  margin: 0;
}
.dropdown-menu-lg > li > ul > li {
  list-style: none;
}
.dropdown-menu-lg > li > ul > li > a {
  display: block;
  padding: 3px 0px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: normal;
  font-size: 12px;
}
.dropdown-menu-lg > li ul > li > a:hover,
.dropdown-menu-lg > li ul > li > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}
.dropdown-menu-lg .disabled > a,
.dropdown-menu-lg .disabled > a:hover,
.dropdown-menu-lg .disabled > a:focus {
  color: #999999;
}
.dropdown-menu-lg .disabled > a:hover,
.dropdown-menu-lg .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed;
}
.dropdown-menu-lg .dropdown-header {
  color: #428bca;
  font-size: 18px;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent;
  color: #D75752 !important; }

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus,
.dropdown-menu a {
  background-color: transparent; }

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border: none; }
.top-link a:hover
{
	text-decoration:none;
	color: rgb(3, 130, 186);
}
/* search Form ****/
.navbar-nav > li > form {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px; }
#search-form
{   
    background-color: rgba(242, 242, 242, 1); ;
}
#custom-search-input
{
	padding:10px;
}
#search-icon-go
{
    width: 35px;
    margin-left: 10px;
    height: 35px;
    border-radius: 0px;
    cursor: pointer;
	padding: 5px;
	background-color:#cccccc;
	border:0px;
} 
	.home-read-anchor
	{
	font-size: 12px;
    color: #0066CC;
	font-weight: 700;
    font-style: normal;
	}
    .home-read-anchor:hover,.home-read-anchor:visited{text-decoration:none;}
	.footer-menu
	{
	  font-family:'Helvetica';
	  font-weight:400;
	  font-style:normal;
	  font-size:14px;
	  color:#6C6C6C;
	  text-align:left;
	  line-height:normal;
	  background-color:#f6f6f6;
	  padding-top: 10px;
	  padding-bottom: 20px;
	}
	.footer-menu a
	{
		font-family: 'Helvetica';
		font-weight: 400;
		font-style: normal;
		font-size: 13px;
		color: #999999;
		text-align: left;
		line-height: 20px;
	}
	.footer-menu a:hover
	{
		color: rgb(3, 130, 186);
		text-decoration:none;
	}
	.footer-menu a span
	{
		font-family: 'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
		font-weight: 700;
		font-style: normal;
		font-size: 14px;
		color: #999999;
		text-align: left; 
		display:block;
		padding: 10px 0px;
	}
	.footer-link-icon
	{
		font-family: 'Helvetica';
		font-weight: 400;
		font-style: normal;
		font-size: 13px;
		color: #666666;
		text-align: center;
		line-height: normal;
		background-color:#f2f2f2;
		padding:20px 0px;
	}
	.footer-link-icon a
	{
		font-family: 'Helvetica';
		font-weight: 400;
		font-style: normal;
		font-size: 13px;
		color: #666666;
		text-align: center;
		line-height: normal;
		padding: 0px 5px 0px 5px;
	}
	.footer-copy-link a
	{
		line-height: 25px;
	}
	.footer-link-icon a:hover
	{
		color: rgb(3, 130, 186);
		text-decoration:none;
	}
	.footer-text {
		font-family: 'Helvetica-Light', 'Helvetica Light', 'Helvetica';
    font-weight: 200;
    font-style: normal;
    font-size: 12px;
    color: #999999;
    text-align: center;
	margin-top: 15px;
	}
	.subscribe-icon
	{
		    text-align: center;
			width: 68px;
			height: 82px;
			float: right;
			padding: 5px; 
			position: fixed;
			bottom: 0px;
			right: 2em;
			text-decoration: none;
			color: white; 
			font-size: 12px; 
			color: #6C6C6C;
			line-height:24px;
			background-color: rgba(242, 242, 242, 1);
			border-radius: 0px;
			-moz-box-shadow: 0px 0px 10px rgba(121, 121, 121, 0.349019607843137);
			-webkit-box-shadow: 0px 0px 10px rgba(121, 121, 121, 0.349019607843137);
			box-shadow: 0px 0px 10px rgba(121, 121, 121, 0.349019607843137);
	}
	.subscribe-icon:hover{text-decoration: none;color: #6C6C6C;}
	.subscribe-icon img{
		width:35px;
		height:35px;
	}
	
/* media queries starts */
@media (max-width: 768px) {
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus
{
	border-bottom:none;
	padding-bottom: auto;
	border:none;
}
.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:
{ 
	padding-bottom: auto;
}
.regionlabel ,.regioncontent
{
	text-align:center;
} 
  .top-link li, a {
		list-style: none;
		padding: 10px 1px;
		font-family: 'Helvetica';
		font-weight: 400;
		font-style: normal;
		font-size: 12px;
		color: #999999;
		line-height: normal;
		display: inline;
	}
  .dropdown-menu-lg {
    margin-left: 0 ;
    margin-right: 0 ;
  }
  .dropdown-menu-lg > li {
    margin-bottom: 30px;
  }
  .dropdown-menu-lg > li:last-child {
    margin-bottom: 0;
  }
  .dropdown-menu-lg .dropdown-header {
    padding: 3px 15px !important;
  }
   .navbar-nav > li > form {
    padding-top: 15px;
    padding-bottom: 15px; }   
}
@media (max-width: 991px) {
	
    .dropdown-menu
	{
		display:none !important;
	}
	.open .dropdown-menu
	{
		display:block !important;
	}
       .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
		z-index:999;
		float: left;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
	.top-link li, .top-link a {
    list-style: none;
    padding: 10px 1px;
    font-family: 'Helvetica';
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    color: #999999;
    line-height: normal;
    display: inline;
	}
	#nav-search-iocn {
    width: 30px;
    cursor: pointer;
    margin-top: -45px;
    float: right;
	}
	.logo-img {
    padding: 0px;
    margin: 0px auto;
	padding-right: 42px;
	}
	
}
@media only screen and (min-width: 992px) and (max-width:1199px)
{
#main-nav-container {
   width:100%;
}
.main-nav li a
{
padding-right: 2px !important;
}
}
@media (min-width: 769px) {
#main-nav .dropdown-menu span
{ 
    font-weight: 700;
}
#main-nav .dropdown-menu span:hover 
{
	color: rgb(3, 130, 186);
}
li.main-category
{
	font-family: Helvetica-Bold, "Helvetica Bold", Helvetica;
	font-weight: 700;
	padding-bottom:10px;
	color: #000000; 
}
a.sub-sub-category
{
	font-weight: normal;
	padding-left: 5px !important;
}
li.main-category:hover
{
	font-family: Helvetica-Bold, "Helvetica Bold", Helvetica;
	font-weight: 700;
	color: rgb(3, 130, 186);
}
.dropdown-menu a.sub-category
{ 
    font-family: Helvetica-Bold, "Helvetica Bold", Helvetica;
	font-weight: 700;
	font-size: 13px;
	color: #9B9B9B!important;
}
.dropdown-menu  a.sub-category :hover
{
	color: rgb(3, 130, 186);
}
.dropdown:hover .dropdown-menu {
    display: block; 
 }
 .navbar-default .navbar-nav > li > a:hover
{
	border-bottom:2px solid rgb(3, 130, 186);
	padding-bottom: 30px;
}
.product-page-nav
{
	    margin-top: 20px !important;
}
.product-page-nav a,.application-page-nav  a
{
	font-size: 10px !important;
}
.application-page-nav
{
margin-top: 40px !important;	
}
}