	.subscribe-icon
	{
		    text-align: center;
			width: 68px;
			height: 82px;
			float: right;
			padding: 5px; 
			position: fixed;
			bottom: 0px;
			right: 2em;
			text-decoration: none;
			color: white; 
			font-size: 12px; 
			color: #6C6C6C;
			line-height:24px;
			background-color: rgba(242, 242, 242, 1);
			border-radius: 0px;
			-moz-box-shadow: 0px 0px 10px rgba(121, 121, 121, 0.349019607843137);
			-webkit-box-shadow: 0px 0px 10px rgba(121, 121, 121, 0.349019607843137);
			box-shadow: 0px 0px 10px rgba(121, 121, 121, 0.349019607843137);
	}
	.subscribe-icon:hover{text-decoration: none;color: #6C6C6C;}
	.subscribe-icon img{
		width:35px;
		height:35px;
	}
	.subscribe-input
	{ 
		font-size: 14px; 
		line-height: 1.42857143;
		color: #555;
		background-color: #fff;
		background-image: none;
		border: 1px solid #ccc;
		border-radius: 4px;
		-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
		box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
		-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
		-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
		transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	}
	@media (max-width: 768px) {
		.subscribe-input
		{
			width: 100%;
			margin-top: 10px;
		}
	}
	
	
	
	