.video-image-home
	{
		margin: 5px 0px 5px 0px;
		padding: 30px 0px 30px 0px;
	}
	.video-image-home .caption
	{
	font-family: 'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
    font-weight: 700;
    font-style: normal;
    font-size: 13px;
	padding: 5px 0px 10px 0px;
    color: #434343;
    text-align: left;
	}
@media (max-width: 991px) {
	.video-image-home
	{
		border:none;
		text-align:center;
		padding:0px;
		margin: 0px 0px 20px 0px;
	}
	.video-image-home img
	{
		margin: 10px auto;
	}
	.video-image-home .caption
	{
		text-align:center;
	} 
	.image-video-home
	{
		margin: 20px 0px 20px 0px;
	}
}