<link rel="stylesheet" href="css/carousel-home.css">
<div id="myCarousel" class="carousel slide">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active" contenteditable="false"></li>
        <li data-target="#myCarousel" data-slide-to="1" class="" contenteditable="false"></li>
        <li data-target="#myCarousel" data-slide-to="2" class="" contenteditable="false"></li>
        <li data-target="#myCarousel" data-slide-to="3" class="" contenteditable="false"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active" style="">
            <img src="images/sliderone.jpg" alt="" class="">
           <div class="carousel-caption">
                        <h1 class="carousel-caption-header">Genomic Data Challenges Lorem<br/>ipsum featured title here</h1>
                        <p class="carousel-caption-text">
                           Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. 
                        </p>
						<button type="button" class="btn btn-default btn-arrow-left">Learn more  &#8594;</button>
           </div>
        </div>
        <div class="item">
            <img src="images/sliderone.jpg" alt="" class="">
             <div class="carousel-caption">
                       <h1 class="carousel-caption-header">Genomic Data Challenges Lorem<br/>ipsum featured title here</h1>
                        <p class="carousel-caption-text">
                           Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. 
                        </p>
						<button type="button" class="btn btn-default btn-arrow-left">Learn more  &#8594;</button>
           </div>
        </div>
        <div class="item" style="">
            <img src="images/sliderone.jpg" alt="" class="">
             <div class="carousel-caption">
                        <h1 class="carousel-caption-header">Genomic Data Challenges Lorem<br/>ipsum featured title here</h1>
                        <p class="carousel-caption-text">
                           Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. 
                        </p>
						<button type="button" class="btn btn-default btn-arrow-left">Learn more  &#8594;</button>
           </div>
        </div>
		<div class="item" style="">
            <img src="images/sliderone.jpg" alt="" class="">
             <div class="carousel-caption">
                       <h1 class="carousel-caption-header">Genomic Data Challenges Lorem<br/>ipsum featured title here</h1>
                        <p class="carousel-caption-text">
                           Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. 
                        </p>
						<button type="button" class="btn btn-default btn-arrow-left">Learn more  &#8594;</button>
           </div>
        </div>
    </div>    

    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>

    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>