<div class="container-fluid footer-menu hidden-sm hidden-xs" id="">  
 <div class="container">  
  <div class="row">
    <div class="col-lg-12">
      <div class="col-md-3">
        <ul class="list-unstyled">
          <li><a href="#"><span>Product & Solutions</span></a><li>
          <li><a href="#">Sample Collection</a></li>
          <li><a href="#">Sample Extraction</a></li>
          <li><a href="#">Sample QC</a></li>
          <li><a href="#">Library Preparation</a></li>
          <li><a href="#">Target Enrichment</a></li>
          <li><a href="#">Assays</a></li>
          <li><a href="#">Bioinformatics</a></li>
          <li><a href="#">Systems</a></li>
          <li><a href="#">PCR</a></li>
          <li><a href="#">qPCR</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="list-unstyled">
          <li><a href="#"><span>Applications</span></a><li>
          <li><a href="#">Life Science</a></li>
          <li><a href="#">Translational Research</a></li>
          <li><a href="#">Clinical</a></li>  
		  <li><a href="#"><span>Technology</span></a><li>	
		  <li><a href="#">SMRT</a></li>  
		  <li><a href="#">Nanopore</a></li>  
		  <li><a href="#">Amplicon Target Enrichment</a></li>  
		  <li><a href="#">Hyb Target Enrichment</a></li>  
		  <li><a href="#">CtDNA</a></li>  
		  <li><a href="#">Directed Evolution</a></li>  
		  <li><a href="#">PETE</a></li>  
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="list-unstyled">
          <li><a href="#"><span>Research</span></a><li>
          <li><a href="#">Whole Genome Research</a></li>
          <li><a href="#">RNAResearch</a></li>
          <li><a href="#">Targeted Research</a></li>
          <li><a href="#">Clinical Research</a></li>              
          <li><a href="#">Bioinformatics Research</a></li> 
		  <li><a href="#"><span>Buy & Subscriptions</span></a><li>
		  <li><a href="#">How to Buy</a></li> 
		  <li><a href="#">Subscriptions</a></li> 
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="list-unstyled">
          <li><a href="#"><span>About Us</span></a><li>
          <li><a href="#">Leadership</a></li>              
          <li><a href="#">News</a></li>              
          <li><a href="#">Events</a></li>              
          <li><a href="#">Careers</a></li>              
          <li><a href="#">Blogs</a></li>              
          <li><a href="#">Community</a></li>              
          <li><a href="#">Contact Us</a></li>               
        </ul>
      </div>  
    </div>
  </div> 
</div>
</div>
<div class="container-fluid footer-link-icon" id=""> 
 <div class="container"> 
  <div class="row">
    <div class="col-lg-12">
      <div class="col-md-8 footer-copy-link" id="">
        <a href="#">© Roche Sequencing</a>    
        <a href="#">Legal</a>    
        <a href="#">Privacy Policy</a>
        <a href="#">Contact Us</a>
        <a href="#">Investors</a>
        <a href="#">Roche Corporate</a>
      </div>
      <div class="col-md-4 hidden-sm hidden-xs footer-icons" id="">
        <div class="text-center center-block"> 
				<a href="#"><i id="social-rss" class="fa fa-rss-square fa-2x social"></i></a>
                <a href="#"><i id="social-fb" class="fa fa-facebook-square fa-2x social"></i></a>
	            <a href="#"><i id="social-tw" class="fa fa-twitter-square fa-2x social"></i></a>
	            <a href="#"><i id="social-gp" class="fa fa-google-plus-square fa-2x social"></i></a>
	            <a href="#"><i id="social-youtube" class="fa fa-youtube-square fa-2x social"></i></a>
	            <a href="#"><i id="social-vimeo" class="fa fa-vimeo-square fa-2x social"></i></a>
		</div>
      </div>
    </div>
  </div>
  </div>
</div>
<div class="container hidden-sm hidden-xs"> 
<p class="footer-text text-center">This website contains information on products which is targeted to a wide range of audiences and could contain product details or information otherwise not accessible or valid in your country. Please be aware that we do not take any responsibility for accessing such information which may not comply with any legal process, regulation, registration or usage in the country of your origin. Current products are for life science research only, not for use in diagnostic procedures.</p>
</p>
</div>