<link rel="stylesheet" href="css/home-new-launch-teaser.css">
 <div class="row new-launch-home" id="">
	 <div class="col-md-6 border">
	 <img class="img-responsive size" src="images/new-launch-img.png">
	 </div>
	 <div class="col-md-6 border">
	 <h3>Roche Launches New Target Enrichment Systems</h3>
	 <p>Roche today announced the global launch of the new HEAT-Seq Target Enrichment Systems that provide rapid and accurate enrichment methods designed to improve the detection of variants in human genetics and cancer research.</p>
	 <p>Roche's HEAT-Seq Enrichment Systems offer researchers speed and reliability through a streamlined workflow by combining Molecular Inversion Probe (MIP) technology with molecular barcodes</p>
	 <a href="#" class="home-read-anchor">Read More About HEAT-Seq Target Enrichment Systems  &#8594;</a>
	 </div>
</div>