<link rel="stylesheet" href="css/img-home-list.css">
<div class="row hidden-xs img-home-list">
     <div class="col-sm-2 border"><a href="#"><img class="img-responsive size" src="images/dna.png">
         <div class="caption center-block">DNA Sequencing</div></a>
     </div> 
	 <div class="col-sm-2 border"><a href="#"><img class="img-responsive size" src="images/analysis-tool.png">
         <div class="caption center-block">Analysis Tools</div></a>
     </div> 
	 <div class="col-sm-2 border"><a href="#"><img class="img-responsive size" src="images/oncology.png">
         <div class="caption center-block">Oncology</div></a>
     </div> 
	 <div class="col-sm-2 border"><a href="#"><img class="img-responsive size" src="images/automation.png">
         <div class="caption center-block">Automation Systems</div></a>
     </div> 
	 <div class="col-sm-2 border"><a href="#"><img class="img-responsive size" src="images/gnome.png">
         <div class="caption center-block">Gnome Testing</div></a>
     </div> 
	 <div class="col-sm-2 border"><a href="#"><img class="img-responsive size" src="images/mitochondria.png">
         <div class="caption center-block">Mitochondria</div></a>
     </div>
 </div>