<link rel="stylesheet" href="css/promotions-home.css">
<div class="container-fluid promotions">   
    <div class="col-md-1 hidden-sm hidden-xs"> 
	</div>
	<div class="col-md-10 promotion-content"> 
	 <button type="button" class="btn btn-default save">Save 40%</button>
	 <h4>qPCR Instruments</h4>
	 <h4>Time to refresh your existing qPCR instrument?</h4>
	 <button type="button" class="btn btn-default offers"><a href="#">See Offer Details &#8594;</a></button>
   </div> 
</div>
<div class="container-fluid promotions-view-all hidden-sm hidden-xs"> 
<a href="#" class="home-read-anchor">View All Promotions  &#8594;</a>
</div>