<link rel="stylesheet" href="css/subscribe-icon.css">
<div class="container-fluid"> 
<a href="#" class="fixed subscribe-icon" data-toggle="modal" data-target="#subscribe-popup"><img src="images/subscribe-icon.png"><p>Subscribe</p></a>
<div class="modal fade" id="subscribe-popup" role="dialog">
    <div class="modal-dialog">
   
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Subscription</h4>
        </div>
        <div class="modal-body">
 
 
			<form data-toggle="validator" role="form">
			  <div class="form-group">
				<label for="name" class="control-label">Name</label>
				<div class="input-group">
				<input type="text"  id="fname" placeholder="First Name" class="subscribe-input" required>
				<input type="text"  id="mname" placeholder="Middle Name" class="subscribe-input" >
				<input type="text"  id="lname" placeholder="Last Name" class="subscribe-input" required>
				</div>
			  </div> 
			  <div class="form-group">
				<label for="email" class="control-label">Email</label>
				<div class="form-group">
				<input type="email" class="form-control" id="email" placeholder="Email" data-error="Email address is invalid" required>
				<div class="help-block with-errors"></div>
				</div>
			  </div> 
			  <div class="form-group">
				<label for="email" class="control-label">Select type of Product Subscriptions you would like to receive</label>
					<div class="checkbox">
					  <label><input type="checkbox" value="All" name="Product" minchecked="2">All</label>
					</div>
					<div class="checkbox">
					  <label><input type="checkbox" value="NGS Subscriptions" name="Product" >NGS Subscriptions</label>
					</div>
					<div class="checkbox">
					  <label><input type="checkbox" value="qPCR Subscriptions" name="Product">qPCR Subscriptions</label>
					</div>
					<div class="checkbox">
					  <label><input type="checkbox" value="PCR Subscriptions" name="Product">PCR Subscriptions</label>
					</div>
				  <div class="help-block with-errors"></div>
				 
			  </div>
			  <div class="form-group">
				<label for="email" class="control-label">Select type of Subscriptions you would like to receive</label> 
					<div class="checkbox">
					  <label><input type="checkbox" value="New Products" name="Product-type">New Products</label>
					</div>
					<div class="checkbox">
					  <label><input type="checkbox" value="Promotions" name="Product-type">Promotions</label>
					</div>
					<div class="checkbox">
					  <label><input type="checkbox" value="Webinars and Events" name="Product-type" >Webinars and Events</label>
					</div>
					<div class="checkbox">
					  <label><input type="checkbox" value="Quarterly Newsletter" name="Product-type">Quarterly Newsletter</label>
					</div>
				  <div class="help-block with-errors"></div> 
			  </div>
			  <div class="form-group">
			  <label for="frequency" class="control-label">Select the frequency of alerts</label>
				<div class="radio">
				  <label>
					<input type="radio" name="frequency" required>
					Biweekly
				  </label>
				</div>
				<div class="radio">
				  <label>
					<input type="radio" name="frequency" required>
					Monthly
				  </label>
				</div>
			  </div>
			  <div class="form-group">
				<button type="submit" class="btn btn-primary">Submit</button>
			  </div>
			</form>
 
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
</div>
</div> 
 