<nav class="navbar navbar-default" role="navigation" id="main-nav">
   <div class="container-default">
   <div class="container nav-container" id="main-nav-container"> 
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".main-nav">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button> 

     <ul class="nav navbar-nav navbar-left nav-pills" id="logo">
                <li>
                <a href="#"><img src="images/roche-logo.png" class="img-responsive logo-img"></a>
                </li>
     </ul>
     <ul id="menu-menu" class="nav navbar-nav main-nav collapse navbar-collapse">
	 <li class="dropdown dropdown-lg">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Products & Solutions</b></a>
				
				<ul class="dropdown-menu dropdown-menu-lg row first">
					<li class="col-sm-3"> 
						<ul>
							<li class="main-category"><a href="#"><span>By Category</span></a></li>
							<li ><a href="#" class="sub-category">Sample Collection</a></li>
							<li ><a href="#" class="sub-category">Sample Extraction</a></li>
							<li ><a href="#" class="sub-category">Sample QC</a></li>
							<li ><a href="#" class="sub-category">Library Preparation</a></li> 
							<li ><a href="#" class="sub-sub-category">DNA Library Preparation</a></li> 
							<li ><a href="#" class="sub-sub-category">RNA Library Preparation</a></li> 
							<li ><a href="#" class="sub-sub-category">Library Amplification</a></li> 
							<li ><a href="#" class="sub-sub-category">Library Quantification</a></li> 
							<li ><a href="#" class="sub-sub-category">Accessories</a></li> 
							<li ><a href="#" class="sub-category">Assays</a></li>
							<li ><a href="#" class="sub-category">Bioinformatics</a></li>
						</ul>
						<ul class="product-page-nav"><li><a href="#">All Products  &#8594;</a></li></ul>
					</li>
					<li class="col-sm-3">
						<ul> 
							<li class="main-category"><a href="#"><span>&nbsp;</span></a></li>
							<li ><a href="#" class="sub-category">Target Enrichment</a></li>
							<li ><a href="#" class="sub-sub-category">Amplicon</a></li>  
							<li ><a href="#" class="sub-sub-category">Hybridization</a></li>  
							<li ><a href="#" class="sub-sub-category">Reagents & Accessories</a></li>  
							<li ><a href="#" class="sub-sub-category">Software</a></li>  
							<li ><a href="#" class="sub-category">Systems</a></li>  
							<li ><a href="#" class="sub-sub-category">Sequencers</a></li>  
							<li ><a href="#" class="sub-sub-category">Automation</a></li>  
							<li ><a href="#" class="sub-sub-category">Scanners</a></li>  
							<li ><a href="#" class="sub-category">PCR</a></li>  
							<li ><a href="#" class="sub-category">qPCR</a></li>  
						</ul>
					</li>
					<li class="col-sm-3">
						<ul>
							<li class="main-category"><a href="#"><span>By Application</span></a></li>
							<li ><a href="#" class="sub-category">Research</a></li>
							<li ><a href="#" class="sub-sub-category">Whole Genome Sequencing</a></li>  
							<li ><a href="#" class="sub-sub-category">Targeted Sequencing</a></li>  
							<li ><a href="#" class="sub-sub-category">ctDNA</a></li>  
							<li ><a href="#" class="sub-sub-category">Methylation Sequencing</a></li>  
							<li ><a href="#" class="sub-sub-category">ChIP Sequencing</a></li>  
							<li ><a href="#" class="sub-sub-category">Whole Exome Sequencing</a></li>  
							<li ><a href="#" class="sub-sub-category">PCR (tentative name)</a></li>  
							<li ><a href="#" class="sub-sub-category">qPCR (tentative name)</a></li>   
						</ul>
						<ul class="application-page-nav"><li><a href="#">All Applications  &#8594;</a></li></ul>
					</li>
					<li class="col-sm-3">
						<ul>
							<li class="main-category"><a href="#"><span>&nbsp;</span></a></li>
							<li ><a href="#" class="sub-category">Clinical</a></li>
							<li ><a href="#" class="sub-sub-category">NIPT</a></li>  
							<li ><a href="#" class="sub-sub-category">CLIA Laboratory</a></li> 
						</ul>
					</li>  
				</ul> 
	  </li>     
      <li class="dropdown dropdown-lg">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Technology & Research</a>
         <ul class="dropdown-menu dropdown-menu-lg row">
					<li class="col-sm-6">
						<ul>
							<li ><a href="#" class="sub-category">Technology</a></li> 
							<li ><a href="#" class="sub-sub-category">CLIA Laboratory</a></li> 
							<li ><a href="#" class="sub-sub-category">SMRT</a></li> 
							<li ><a href="#" class="sub-sub-category">Nanopore</a></li> 
							<li ><a href="#" class="sub-sub-category">Amplicon Target Enrichment</a></li> 
							<li ><a href="#" class="sub-sub-category">Hyb Target Enrichment</a></li> 
							<li ><a href="#" class="sub-sub-category">CtDNA</a></li> 
							<li ><a href="#" class="sub-sub-category">Directed Evolution</a></li> 
							<li ><a href="#" class="sub-sub-category">PETE</a></li> 
						</ul>
					</li>
					<li class="col-sm-6">
						<ul>
							<li ><a href="#" class="sub-category">Research</a></li> 
							<li ><a href="#" class="sub-sub-category">Epigenetics</a></li> 
							<li ><a href="#" class="sub-sub-category">Microbiology</a></li> 
							<li ><a href="#" class="sub-sub-category">Human Genetics</a></li> 
							<li ><a href="#" class="sub-sub-category">Immunogenetics</a></li> 
							<li ><a href="#" class="sub-sub-category">Mitochondrial research</a></li> 
							<li ><a href="#" class="sub-sub-category">Virology</a></li> 
							<li ><a href="#" class="sub-sub-category">Oncology</a></li> 
							<li ><a href="#" class="sub-sub-category">Bioinformatics</a></li> 
						</ul>
					</li>
		</ul>
      </li>
      <li class="dropdown dropdown-lg">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Support & Resources</a>
         <ul class="dropdown-menu dropdown-menu-lg row">
					<li class="col-sm-6">
						<ul>
							<li ><a href="#" class="sub-category">Technical Support</a></li> 
							<li ><a href="#" class="sub-category">Order Support</a></li> 
							<li ><a href="#" class="sub-category">Harmony Client Support</a></li> 
						</ul>
					</li>
					<li class="col-sm-6">
						<ul>
							 <li ><a href="#" class="sub-category">Resources</a></li> 
							 <li ><a href="#" class="sub-sub-category">Whitepapers</a></li> 
							 <li ><a href="#" class="sub-sub-category">Case Studies</a></li> 
							 <li ><a href="#" class="sub-sub-category">Brochures</a></li> 
							 <li ><a href="#" class="sub-sub-category">Infographics</a></li> 
							 <li ><a href="#" class="sub-sub-category">Posters</a></li> 
							 <li ><a href="#" class="sub-sub-category">Poster Notes</a></li> 
							 <li ><a href="#" class="sub-sub-category">Application Notes</a></li> 
							 <li ><a href="#" class="sub-sub-category">Webinars</a></li> 
							 <li ><a href="#" class="sub-sub-category">Videos</a></li> 
							 <li ><a href="#" class="sub-sub-category">Worksheets</a></li> 
							 <li ><a href="#" class="sub-sub-category">eBook</a></li> 
						</ul>
					</li>
		</ul>
      </li>     
	  <li class="dropdown dropdown-lg">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">For Healthcare Providers</a>
         <ul class="dropdown-menu dropdown-menu-lg row">
					<li class="col-sm-6">
						<ul>
							 <li ><a href="#" class="sub-category">NIPT</a></li> 
							 <li ><a href="#" class="sub-sub-category">Overview</a></li> 
							 <li ><a href="#" class="sub-sub-category">Implementation</a></li> 
							 <li ><a href="#" class="sub-sub-category">Performance</a></li> 
							 <li ><a href="#" class="sub-sub-category">Technology</a></li> 
							 <li ><a href="#" class="sub-sub-category">FAQs</a></li> 
							 <li ><a href="#" class="sub-sub-category">Get Harmony</a></li> 
							 <li ><a href="#" class="sub-sub-category">Harmony Client Support</a></li> 
						</ul>
					</li>
					<li class="col-sm-6">
						<ul>
							 <li ><a href="#" class="sub-category">Oncology</a></li> 
							 <li ><a href="#" class="sub-sub-category">Overview (ww only)</a></li> 
							 <li ><a href="#" class="sub-sub-category">FAQs (ww only)</a></li> 
						</ul>
					</li>
		</ul>
      </li>
	  <li class="dropdown dropdown-lg">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">For Healthcare Consumers</a>
         <ul class="dropdown-menu dropdown-menu-lg row last">
					<li class="col-sm-6">
						<ul>
							 <li ><a href="#" class="sub-category">NIPT</a></li> 
							 <li ><a href="#" class="sub-sub-category">Overview</a></li> 
							 <li ><a href="#" class="sub-sub-category">Implementation</a></li> 
							 <li ><a href="#" class="sub-sub-category">Performance</a></li> 
							 <li ><a href="#" class="sub-sub-category">Technology</a></li> 
							 <li ><a href="#" class="sub-sub-category">FAQs</a></li> 
							 <li ><a href="#" class="sub-sub-category">Get Harmony</a></li> 
							 <li ><a href="#" class="sub-sub-category">Harmony Client Support</a></li> 
						</ul>
					</li>
					<li class="col-sm-6">
						<ul>
							 <li ><a href="#" class="sub-category">Oncology</a></li> 
							 <li ><a href="#" class="sub-sub-category">Overview (ww only)</a></li> 
							 <li ><a href="#" class="sub-sub-category">FAQs (ww only)</a></li> 
						</ul>
					</li>
		</ul>
      </li>
	   <li class="dropdown dropdown-lg hidden-md hidden-lg hidden-ls">Worldwide[<a href="#"  data-toggle="collapse" data-target="#worldwide-chage">change</a>]</li>
	   <li class="dropdown dropdown-lg hidden-md hidden-lg hidden-ls"><a href="#">How to buy</a> </li>
	   <li class="dropdown dropdown-lg hidden-md hidden-lg hidden-ls"><a href="#">Login</a></li>
	   <li class="dropdown dropdown-lg hidden-md hidden-lg hidden-ls"><a href="#">Career</a></li>
	   <li class="dropdown dropdown-lg hidden-md hidden-lg hidden-ls"><a href="#">About Us</a></li>
      </ul>        
      <ul class="nav navbar-nav navbar-left nav-pills">
                    
                <li class="li-form" data-toggle="collapse" data-target="#search-form"><img src="images/search-icon.png" class="img-responsive" id="nav-search-iocn"></li>
     </ul>
    </div>
    </div>
</nav>
<div class="container collapse" id="search-form">	 
<div class="row">
        <div class="col-md-12"> 
            <div id="custom-search-input">
                <div class="input-group">
                    <input type="text" class="form-control input" placeholder="KAPA2G Fast" />
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" type="button" id="search-icon-go">
                            <img src="images/search-go.png">
                        </button>
                    </span>
                </div>
            </div>
        </div>
	</div>
</div>  