<div class="container-fluid collapse" id="worldwide-chage">
  <div class="container region-container">
  <div class="form-group">
	<form role="region chage" method="get" action="#">
	<div class="col-sm-6 regionlabel">
      <label  for="regionchange">Confirm your country or region!</label>
	</div>
    <div class="col-sm-6 regioncontent">
        <select class="regionchange">
            <option value='worldwide'>Worldwide</option>
            <option value='us'>US</option>
            <option value='uk'>UK</option>
            <option value='canada'>Canada</option>
        </select> 
		<button type="button" class="btn btn-default region-go" data-toggle="collapse" data-target="#worldwide-chage">GO</button>
	</div> 
	 </form>
 </div>
    </div>
 </div>
 <div class="container nav-container hidden-sm hidden-xs"> 
    <ul class="navbar-nav navbar-right top-link">
                <li>Worldwide[<a href="#"  data-toggle="collapse" data-target="#worldwide-chage">change</a>]</li>
				<li><a href="#">How to buy</a> </li>
				<li><a href="#">Login</a></li>
				<li><a href="#">Career</a></li>
				<li><a href="#">About Us</a></li>
     </ul>  
  </div>
</div>