<link rel="stylesheet" href="css/video-image-home.css">
 <div class="row video-image-home" id="">
 <div class="col-md-4 border nopadding">
		<div class="embed-responsive embed-responsive-16by9">
        <video width="320" height="240" poster="/images/w3html5.gif" controls>
		   <source src="movie.mp4" type="video/mp4">
		   <source src="movie.ogg" type="video/ogg">
		   Your browser does not support the video tag.
		</video>
        </div>
		<div class="caption">NimbleDesign Software Tutorial</div>
		<a href="#" class="home-read-anchor">View All Blog Posts  &#8594;</a>
 </div>
 <div class="col-md-4 border image-video-home" id="">
           <img class="img-responsive size" src="images/video-image-home.png"> 
		   <div class="caption">European Society Human Genetics Conference 2016</div>
		   <a href="#" class="home-read-anchor">View All Events  &#8594;</a>
 </div>
 <div class="col-md-4 border nopadding">
		<div class="embed-responsive embed-responsive-16by9">
         <video width="320" height="240" poster="/images/w3html5.gif" controls>
		   <source src="movie.mp4" type="video/mp4">
		   <source src="movie.ogg" type="video/ogg">
		   Your browser does not support the video tag.
		</video>
        </div>
		<div class="caption">HEAT-Seq Target Enrichment System</div>
		<a href="#" class="home-read-anchor">View All Webinars   &#8594;</a>
 </div>
 </div>